.stats .stat .stat-type {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

/*
*= Dialog
*/
#dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 200%;
  background: rgba(0, 0, 0, 0.4);
}
#dialog-container .dialog {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 95px auto 0;
  padding: 4em 2em 0;
  height: 460px;
  width: 650px;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border: 4px solid #2484de;
}

.stats {
  margin: 50px 0 20px;
}
.stats .stat {
  display: inline-block;
  width: 180px;
  height: 90px;
  color: #6f83d6;
}
.stats .stat .stat-value {
  margin-bottom: 5px;
  font-size: 4em;
  color: inherit;
}
