button, .btn, a.btn, input[type="button"], input[type="reset"] {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 900;
}

/*
*= Forms 
*/
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
  -moz-box-shadow: inset 0 1px 3px #dddddd;
  -webkit-box-shadow: inset 0 1px 3px #dddddd;
  box-shadow: inset 0 1px 3px #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 40px;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
}

form {
  margin-top: 5px;
}

button, .btn, a.btn, input[type="button"], input[type="reset"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  -o-transition: 300ms all linear;
  transition: 300ms all linear;
  background: 0;
  border: 2px solid #2484de;
  color: #ffb300;
  background: #2484de;
  font-weight: normal;
  letter-spacing: 0.2em;
  padding: 14px 20px;
}
button:hover, .btn:hover, a.btn:hover, input[type="button"]:hover, input[type="reset"]:hover {
  background: #509de5;
  color: #ffc233;
}
