/*
*= Links
*/
a {
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
}
a.inline {
  display: inline-block;
}
a:link {
  color: #66a9e8;
}
a:active {
  color: #93c2ef;
}
a:hover, a:focus {
  color: #93c2ef;
  text-decoration: underline;
}
a:active, a:hover {
  outline: none;
}
a img {
  border: none;
  vertical-align: middle;
}
