a:link {
  color: #2484de;
}
a:visited {
  color: #185d9e;
}
a:active {
  color: #185d9e;
}
a:hover, a:focus {
  color: #185d9e;
  text-decoration: underline;
}
a:active, a:hover {
  outline: none;
}
a img {
  border: none;
  vertical-align: middle;
}
