.font {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
}

.font-secondary {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 900;
}

.big {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4;
  list-style: none;
  margin: 0.2em 0 1em;
  padding: 0;
  color: #777777;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.vertical-align-parent {
  display: table;
}

.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}

header {
  height: 80px;
  width: 100%;
  padding-bottom: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  background: #6dc8e5;
  background: #fff;
  border-bottom: thick solid #f3f3f3;
}
