.big {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4;
  list-style: none;
  margin: 0.2em 0 1em;
  padding: 0;
  color: #333333;
}

header {
  height: 80px;
  margin-top: 40px;
}
header .nav-container .title {
  height: inherit !important;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}
