body {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #666666;
}

.guess-area .num-guesses .num-incorrect-guesses, .guess-area .num-guesses .num-correct-guesses, .guess-area .new-guesses {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 900;
}

.guess-area .previous-guesses, #blanks {
  font-family: "Rock Salt", arial;
  font-size: 1.2em;
}

#alert {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

#blanks {
  text-align: justify;
}
#blanks:after {
  content: "";
  display: inline-block;
  font-size: 0.01px;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  background: #ecf0f1;
  background: #071c71;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#main {
  height: 100%;
  padding: 2em 0;
  overflow: hidden;
  margin: 0 auto -2em;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

.container-narrow {
  margin: 0 auto;
  max-width: 500px;
}

footer, .push {
  clear: both;
  height: 2em;
  color: #2484de;
}
footer p, .push p {
  margin: 0;
}

footer {
  line-height: 2em;
  height: 2em;
  padding-bottom: 3em;
  vertical-align: middle;
}

.well {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ecf0f1;
  border: 4px solid #2484de;
}

#intro {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.hangman-area, .guess-area {
  min-height: 400px;
}

.guess-area {
  position: relative;
}
.guess-area .num-guesses {
  text-align: center;
  min-height: 70px;
}
.guess-area .num-guesses:first-child {
  padding-top: 1em;
  padding-bottom: 2em;
}
.guess-area .num-guesses:last-child {
  padding-top: 2em;
  border-top: 3px solid #2484de;
}
.guess-area .num-guesses .num-incorrect-guesses, .guess-area .num-guesses .num-correct-guesses {
  display: block;
  font-size: 3em;
  margin-bottom: 15px;
}
.guess-area .previous-guesses {
  overflow: hidden;
  word-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 1.5em;
  line-height: 3em;
  min-height: 8em;
}
.guess-area .new-guesses {
  font-size: 1.8em;
}
.guess-area .new-guesses .letter {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 35px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  cursor: pointer;
  margin: 0 2px 2px 0;
}
.guess-area .new-guesses .letter:last-child {
  margin-right: 0;
}
.guess-area .new-guesses .letter:hover {
  background: #ffdb00;
}
.guess-area .new-guesses .letter.disabled {
  color: transparent;
  cursor: default;
}
.guess-area .new-guesses .letter.disabled:hover {
  background: transparent;
}
.guess-area .new-guesses .letter.prohibited {
  cursor: not-allowed;
}
.guess-area .new-guesses .letter.prohibited:hover {
  background: transparent;
}

#blanks {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 1em auto 0;
}
#blanks .blank {
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-bottom: thick solid #666666;
}
#blanks .blank:last-child {
  margin-right: 0;
}
#blanks .blank .revealed {
  color: #6f83d6;
}

#alert {
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: fixed;
  top: 2em;
  left: 1.5em;
  width: 250px;
  z-index: 10;
  padding: 1em;
}
#alert.alert-error {
  border: 4px solid rgba(185, 74, 72, 0.6);
}
#alert.alert-success {
  border: 4px solid #468847;
}
