.font {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.font-secondary, h1, h2, h3 {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 900;
}

.big {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4;
  list-style: none;
  margin: 0.2em 0 1em;
  padding: 0;
  color: #777777;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.clearfix {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent {
  display: table;
}

.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #007d9a;
  letter-spacing: -1px;
}
h1 small, h2 small, h3 small, h4 small {
  color: #dddddd;
}

h1, h2, h3 {
  color: #777777;
  margin: 0;
  line-height: 0.8em;
}

h1, h2 {
  font-family: "Lobster", arial !important;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  color: #999;
}
h3.label {
  margin: 1em 0 0.5em;
}

h4 {
  font-size: 1em;
  letter-spacing: 0;
  font-weight: bold;
}

p {
  margin: 1em 0;
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-success {
  color: #468847;
}

.text-error {
  color: #b94a48;
}

.muted {
  color: #dddddd;
}
.muted.dark {
  color: #c4c4c4;
}

.text-primary, h1, h2 {
  color: #42b8dd;
}

.note-content {
  line-height: 1.5em;
}
