
@import "base";
/*
*= Links
*/

a {
  @include transition( 300ms all );
  &.inline {
    display: inline-block;
  }
  &:link {
    color: lighten( $primary, 15% );
  }
  &:visited {
    // color: lighten( $primary, 25% );
  }
  &:active {
    color: lighten( $primary, 25% );
  }
  &:hover, &:focus {
    color: lighten( $primary, 25% );
    text-decoration: underline;
  }
  &:active, &:hover {
    outline: none;
  }
  img {
    border: none;
    vertical-align: middle;
  }
}