@import "base";

header {
  height: $header-height;
  .nav-container {
    .title {
      @extend %font-secondary;
      color: $primary;
      height: inherit !important;
      line-height: $header-height;
      vertical-align: middle;
      text-align: center;
    }
  }
}