@import "base";

header {
  height: $header-height;
  margin-top: 40px;
  .nav-container {
    .title {
      height: inherit !important;
      line-height: $header-height;
      vertical-align: middle;
      text-align: center;
    }
  }
}