@import "base";

html, body {
  height: 100%;
}

body {
  @extend %font;
  background: $light-grey;
  background: $primary-dark;
}

* { 
  @include box-sizing( border-box );
}

#main {
  height: 100%;
  padding: 2em 0;
  overflow: hidden;
  margin: 0 auto -2em;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

.container-narrow {
  margin: 0 auto;
  max-width: $narrow-width;
}

footer, .push {
  clear: both;
  height: 2em;
  p {
    color: $light-grey;
    margin: 0;
  }
}

footer {
  line-height: 2em;
  height: 2em;
  padding-bottom: 3em;
  vertical-align: middle;
}

.well {
  @include border-radius( 8px );
  background: $light-grey;
  border: 4px solid $primary;
}

#intro {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.hangman-area, .guess-area {
  min-height: $hangman-height;
}

.guess-area {
  position: relative;
  .num-guesses {
    text-align: center;
    min-height: $num-guesses-height;
    &:first-child {
      padding-top: 1em;
      padding-bottom: 2em;
    }
    &:last-child {
      padding-top: 2em;
      border-top: 3px solid $primary;
    }
    .num-incorrect-guesses, .num-correct-guesses {
      @extend %font-secondary;
      display: block;
      font-size: 3em;
      margin-bottom: 15px;
    }
  }
  .previous-guesses {
    @extend %handwriting;
    text-transform: uppercase;
    letter-spacing: 1.5em;
    line-height: 3em;
    min-height: $prev-guesses-height;
  } 
  .new-guesses {
    @extend %font-secondary;
    font-size: 1.8em;
    .letter {
      @include border-radius( 50% );
      width: $letter-width;
      height: $letter-height;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: $letter-height;
      cursor: pointer;
      margin: 0 2px 2px 0;
      &:last-child { margin-right: 0; }
      &:hover { background: $secondary-B; }
      &.disabled {
        color: transparent;
        cursor: default;
        &:hover { background: transparent; }
      }
      &.prohibited {
        cursor: not-allowed;
        &:hover { background: transparent; }
      }
    }
  }
}

#blanks {
  @extend %justified;
  @extend %handwriting;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 1em auto 0;
  .blank {
    width: $blank-width;
    height: $blank-height;
    line-height: $blank-height;
    margin-right: $blank-margin;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-bottom: thick solid $color;
    &:last-child { margin-right: 0; }
    .revealed { color: $primary; }
  }
}

#alert {
  @extend %big;
  @include box-shadow( 0px 0px 10px 1px $faded );
  text-align: center;
  position: fixed;
  top: 2em;
  left: 1.5em;
  width: $alert-width;
  z-index: $alert-layer;
  padding: 1em;
  &.alert-error { border: 4px solid $error-color; }
  &.alert-success { border: 4px solid $success-color; }
}