@import "base";

html, body {
  height: 100%;
}

body {
  @extend %font;
  background: $light-grey;
  background: $primary-dark;
}

* { 
  @include box-sizing( border-box );
}

#main {
  height: 100%;
  padding: 2em 0;
  overflow: hidden;
  margin: 0 auto -4em;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

footer, .push {
  clear: both;
  height: 4em;
  p {
    color: $light-grey;
    margin: 0;
  }
}

footer {
  background: lighten( $primary, 8% );
  border-top: thick solid $light-grey;
  line-height: 2em;
  vertical-align: middle;
}

.well {
  @include border-radius( 8px );
  background: $light-grey;
  border: 4px solid $primary;
}

#intro {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.hangman-area, .guess-area {
  min-height: $hangman-height;
}

$letter-width: 40px;
$letter-height: 35px;
$num-guesses-height: 70px;
$prev-guesses-height: 8em;

.guess-area {
  position: relative;
  .num-guesses {
    text-align: center;
    min-height: $num-guesses-height;
    &:first-child {
      padding-top: 1em;
      padding-bottom: 2em;
    }
    &:last-child {
      padding-top: 2em;
      border-top: 3px solid $primary;
    }
    .num-incorrect-guesses, .num-correct-guesses {
      @extend %font-secondary;
      display: block;
      font-size: 3em;
      margin-bottom: 15px;
    }
  }
  .previous-guesses {
    @extend %handwriting;
    text-transform: uppercase;
    letter-spacing: 1.5em;
    line-height: 3em;
    min-height: $prev-guesses-height;
  } 
  .new-guesses {
    @extend %font-secondary;
    font-size: 1.8em;
    .letter {
      @include border-radius( 50% );
      width: $letter-width;
      height: $letter-height;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: $letter-height;
      cursor: pointer;
      margin: 0 2px 2px 0;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: $secondary-B;
      }
      &.disabled {
        color: transparent;
        cursor: default;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

$blank-width: 40px;
$blank-height: 50px;
$blank-margin: 5px;
$alert-width: 250px;
$alert-layer: 10;

#blanks {
  @extend %justified;
  @extend %handwriting;
  width: 100%;
  margin: 1em auto 0;
  .blank {
    width: $blank-width;
    height: $blank-height;
    line-height: $blank-height;
    margin-right: $blank-margin;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-bottom: thick solid $color;
    &:last-child {
      margin-right: 0;
    }
  }
}

#alert {
  @include box-shadow( 1px 1px 5px 3px $faded );
  position: absolute;
  top: 2em;
  left: 5em;
  width: $alert-width;
  z-index: $alert-layer;
  padding: 2em 2em 2em 1em;
  &.alert-error {
    border: 4px solid $error-color;
  }
  &.alert-success {
    border: 4px solid $success-color;
  }
}