@import "base";

$max-table-cell-width: 450px;

table {
  border-collapse: collapse;
  width: 100%;
  tr {
    td, th {
      vertical-align: top;
      background: #fff;
      padding: 0.8em 1em;
      text-align: left;
      border-width: 0 0 1px;
      border-bottom: 1px solid $super-light-grey;
    }
    td {
      max-width: $max-table-cell-width;
      word-wrap: break-word;
    }
  }
  &.table-hover {
    tr {
      &:hover {
        td { background: $super-light-grey; }
      }
    }
  }
}
